@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar-icon {
    @apply relative flex items-center justify-center h-8 w-8 mt-2 mb-2 mx-auto bg-blue-950 hover:bg-secondary hover:text-white cursor-pointer rounded-3xl hover:rounded-xl transition-all duration-300 ease-linear;
  }
  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max sm:left-9 sm:bottom-0 bottom-9 rounded-md shadow-md
    text-white bg-gray-900 
    text-xs font-bold 
    transition-all duration-100 scale-0 origin-left;
  }
  .sidebar-hr {
    @apply bg-gray-200 dark:bg-gray-800 
    border border-gray-200 dark:border-gray-800 rounded-full
    mx-2;
  }
  .orange_gradient {
    @apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
  }
  .head_text {
    @apply mt-5 text-5xl font-extrabold leading-[1.15] text-black sm:text-6xl;
  }
  .desc {
    @apply mt-5 text-lg text-gray-600 sm:text-xl;
  }
  .blue_gradient {
    @apply bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent;
  }
}

::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.task-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 1rem;
}

.task {
  flex: 1 1 250px; /* Ensure each task item has equal width */
  min-width: 250px; /* Minimum width for each task item */
  max-width: 100%; /* Maximum width for each task item */
  cursor: pointer;
}

.task-card {
  background: radial-gradient(
        178.94% 106.41% at 26.42% 106.41%,
        #fff7b1 0%,
        rgba(255, 255, 255, 0) 71.88%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    #ffffff;
  box-shadow: 0px 155px 62px rgba(0, 0, 0, 0.01),
    0px 87px 52px rgba(0, 0, 0, 0.05), 0px 39px 39px rgba(0, 0, 0, 0.09),
    0px 10px 21px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 23px;
  transition: all 0.5s cubic-bezier(0.15, 0.83, 0.66, 1);
  cursor: pointer;
  padding: 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.task-card:hover {
  transform: scale(0.95);
}

.task-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-title {
  font-size: 18px;
  margin: 0;
}

.task-priority {
  color: red; /* Adjust color as needed */
}

.task-divider {
  border: 0.5px solid #ddd;
  margin: 12px 0;
}

.task-description {
  flex: 1; /* Allow description to grow and overflow */
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Show 3 lines of text */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
  margin: 8px 0;
}

.task-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-deadline {
  font-weight: bold;
}

.task-actions {
  display: flex;
  align-items: center;
}

.task-actions span {
  margin: 8px;
}

/* Add hover effects or other styles as needed */
